---
import CountrySelect from "../components/CountrySelect.astro";
import DatePicker from "../components/DatePicker.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="MeetingTime">
  <main>
    <p class="font-bold text-primary">Pick a date</p>
    <DatePicker />
    <br />
    <p class="font-bold text-primary">Pick a country</p>
    <CountrySelect />
  </main>
</Layout>
