---
import Search from "../icons/Search.astro";
import LocationButton from "./LocationButton.astro";

const locations = [
  "Guatemala",
  "El Salvador",
  "United States",
  "San Salvador",
  "Buenos Aires",
];
---

<div id="search" class="dropdown">
  <label class="input input-bordered flex items-center lg:w-[485px]">
    <input
      id="search-input"
      tabindex="0"
      type="text"
      placeholder="Search your city..."
      class="grow"
      onkeyup="filterItems()"
    />
    <Search />
  </label>
  <div class="dropdown-content rounded-box bg-base-200 shadow lg:w-[485px]">
    <ul class="menu menu-dropdown">
      {
        locations.map((location, index) => (
          <li tabindex={index + 1} class="search-option">
            <LocationButton location={location} />
          </li>
        ))
      }
      <li class="disabled" style="display: none;">
        <button>No results found</button>
      </li>
    </ul>
  </div>
</div>

<div class="divider my-0 sm:hidden"></div>

<div class="flex w-full justify-center gap-1 sm:mt-2 sm:justify-start sm:gap-2">
  <button class="btn btn-outline btn-primary btn-sm">Search</button>
  <button class="btn btn-outline btn-primary btn-sm">Zone</button>
</div>

<script is:inline>
  const input = document.getElementById("search-input");

  function displayDisabled(isDisplayed) {
    document.querySelector(".disabled").style.display = isDisplayed
      ? ""
      : "none";
  }

  function filterItems() {
    const filter = input.value.toUpperCase();
    const options = document.querySelectorAll(".search-option");
    let hits = 0;
    options.forEach((option) => {
      if (option.textContent.toUpperCase().indexOf(filter) > -1) {
        option.style.display = "";
        hits++;
      } else {
        option.style.display = "none";
      }
    });
    displayDisabled(hits === 0);
  }
</script>
